*~
.DS_Store
.dep
build*
test
CMSIS
python
*.py
*.ipynb
TAGS
.emacs-dirvars
*png
*.bak
version.txt
dorelease.bat
ChibiOS
.settings/language.settings.xml
.cproject
Rubbish*
desktop.ini
*.xml
.megaignore
